.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 550px 550px 550px;
  grid-template-rows: 500px 500px 500px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  padding-left: 110px;
  padding-top: 30px;
}

.box {

  color:black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  align-items: center;
  background-color: #eee;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

img {
  align-items: center;
  padding-left: 110px;
}

.form{
  display: grid;
  width: 1350px;
  height: 800px;
  align-items: center;

}

#btnsend {
  text-align: center;
  padding-left: 600px;
}
